In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
# Additional query #2 - from most active station June & December
session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [5]:
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
    filter(Measurement.station == 'USC00519281').all()

[(54.0, 85.0, 71.66378066378067)]

In [6]:
results = session.query(Measurement.tobs).\
    filter(Measurement.station == 'USC00519281').\
    filter(extract('month', Measurement.date) == 6).all()
june_df = pd.DataFrame(results, columns=['June Temps (station)'])

In [7]:
results = session.query(Measurement.tobs).\
    filter(Measurement.station == 'USC00519281').\
    filter(extract('month', Measurement.date) == 12).all()
dec_df = pd.DataFrame(results, columns=['December Temps (station)'])

In [8]:
june_df.describe()

       June Temps (station)
count            236.000000
mean              73.271186
std                2.989801
min               65.000000
25%               71.000000
50%               73.000000
75%               75.000000
max               82.000000

In [9]:
dec_df.describe()

       December Temps (station)
count                217.000000
mean                  69.903226
std                    3.803609
min                   58.000000
25%                   68.000000
50%                   70.000000
75%                   73.000000
max                   79.000000